<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="courses content">
        <h2>Courses Catalog</h2>
        <% if (courses.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Teacher</th>
                        <th>Credits</th>
                        <th>Spots Remaining</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach(course => { %>
                        <tr>
                            <td><%= course.department %></td>
                            <td><%= course.number %></td>
                            <td><a href="/courses/<%= course._id %>/coursedetail"><%= course.title %></a></td>
                            <td><%= course.teacher %></td>
                            <td><%= course.credits %></td>
                            <td><%= course.spotsRemaining %></td>
                            <td>
                                <% if (user.isStudent && !user.courses.includes(course._id) && course.spotsRemaining > 0){ %>
                                    <form action="/register/<%= course._id %>">
                                        <input type="submit" value="Sign Up">
                                    </form>
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>There are no courses to display...</p>
        <% } %>  
    </div>


    <% if (user){ %>
        <% if (user.isTeacher){ %>
            <h3><center><i>Are any of your courses missing? Contact tech support at techhelp@fsu.edu!</i></center></h3>
        <% } else { %>
            <h3><center><i>Is there a course missing? Contact your professors or email tech support at techhelp@fsu.edu!</i></center></h3>
        <% } %>
    <% } %>

    <%- include('./partials/footer.ejs') %>

</body>

</html>