<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="courses content">
        <h2>Your Schedule</h2>

        <% if (courses.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Teacher</th>
                        <th>Credits</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach(course => { %>
                        <tr>
                            <td><%= course.department %></td>
                            <td><%= course.number %></td>
                            <td><a href="/courses/<%= course._id %>/coursedetail"><%= course.title %></a></td>
                            <td><%= course.teacher %></td>
                            <td><%= course.credits %></td>
                            <td><form action="/drop/<%= course._id %>">
                                <input type="submit" value="Drop Class">
                            </form></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table> 
        <% } else { %>
            <p>There are no courses to display...</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>